<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty scope="context" name="logHost" source="LOG_HOST" defaultValue="localhost:5044"/>
    <springProperty scope="context" name="logIndexId" source="LOG_INDEX_ID" defaultValue="unknown"/>
    <springProperty scope="context" name="nodeId" source="NODE_ID" defaultValue="unknown"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logHost}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"service.name":"reminisce","log.index.id":"${logIndexId}","service.node.id":"${nodeId}"}
            </customFields>
        </encoder>
    </appender>

    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%cyan(%X{request.id})] [%magenta(%X{user.id})] [%blue(%X{client.ip})] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <threadName/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>300MB</maxFileSize>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <threadName/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <springProfile name="be">
        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </root>

        <logger name="com.krince.reminisce" level="DEBUG" additivity="false">
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>
    </springProfile>

    <springProfile name="localtest">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>

        <logger name="com.krince.reminisce" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>

        <logger name="com.krince.reminisce" level="DEBUG" additivity="false">
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>

        <logger name="com.krince.reminisce" level="DEBUG" additivity="false">
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
</configuration>